header {
   height: 20px;
   @include flexColumnCenter()
}

nav {
   height: 50px;
   width: 80%;
   position: sticky;
   top: 0;
   background-color: rgba($color: $blackColor, $alpha: 0.8);
   @include flexRowBetween()
}