html {
   scroll-behavior: smooth;
}
body {
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #fafafa;
  background-color: #1c1e1f;
}
a {
  color: #117a37;
}

a:hover {
  color: #1ed760;
}

ol.none{
   list-style: none;
}

h1, h2,h3 {
   color: #c0c0c0;
}

.fill-blue {
   color: rgb(196, 238, 255);
}